<h1> 修改这个活动 </h1>

<%= simple_form_for [:admin, @activity] do |f| %>

<%= f.input :subject, :label => "活动主题" %>
<%= f.input :description, :label => "活动内容" %>
<%= f.input :field, :label => "领域" %>
<%= f.input :fee, :label => "费用" %>
<%= f.input :location, :label => "地点" %>
<%= f.input :contact_email, :label => "联系邮件" %>
<%= f.input :is_hidden, :label => "隐藏" %>

    <%= f.submit "提交" %>
<% end %>
