<h1> <%= @activity.subject %> </h1>

<p>
  <%= simple_format(@activity.description) %>
  <%= simple_format(@activity.field) %>
  <%= simple_format(@activity.location) %>
  <%= simple_format(@activity.fee) %>

  <div class="text-center">
    <%= link_to("现在就申请吧！", new_activity_intro_letter_path(@activity), :style => "font-size: 20px; text-decoration:underline;") %>
  </div>

</p>
